body,
p   {
    padding: 0;  
    margin: 0;
    font-size: 20px;      
    font-style: italic;     /* estilo do texto */
    text-align: center;     /* alinhamento */
}

/*Organização da div principal em colunas*/
.principal {  
   width: 100%;
   height: 100vh;  /*podemos usar essa medida relativa para ajustar a altura da div e depois atribuir % a grid-template-rows */
   margin: 0 auto;
   display: grid;  /*define o display como grid, possibilitando a organização em linha e coluna */
   grid-template-rows: 20% 10% 60% 10%; /*A pagina terá 4 blocos de linhas, aqui definindo em % o tamanho respectivo*/
   grid-template-areas: "cabecalho cabecalho"   /*Essa propriedade monta a estrutura de áreas */
                        "nav nav"
                        "secao secao" 
                        "rodape rodape";
}

/* Estilizando o header da página*/
header { 
   grid-area: cabecalho;   /* essa propriedade informa a area que o elemento vai referenciar*/
   background-color: #caa9a9;
   display: inline-block;
   align-items: center;
}


/* Estilizando o nav da página*/
 nav{
    grid-area: nav;
    background-color: #7682aa;
 }

/* Estilizando a secao da página*/   
 section {
      grid-area: secao;
      display: flex;
      justify-content: space-evenly;
      background-color: #caa9a9;
  }  
  section img{
   margin-top: 50px;
   border: #040404;
   border-style: solid;
   max-width:250px;
   max-height:150px;
   width: auto;
   height: auto;
  }
  div.box {
	width: 100px;
	display: inline-block;
   font-size: 16px;
   text-align: center;
}
  /* Estilizando os links do nav da página*/    
 nav a{                
    float: left;
    display: block;
    color: #f2f2f2;
    margin: 0 1px;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
 }

header h1{
   color: #040404;
}

 footer {  /* Estilizando o footer da página*/   
   grid-area: rodape;
   display: flex;   /* Display flex,os elementos ficam em linha, um do lado do outro.    */   
   justify-content: space-evenly;
   text-align: center;
   color: #f2f2f2;
}


 /* Estilizando os links do nav da página com pseudo-classe hover, comportamento ao passar o mouse*/   
 nav a:hover{          
   background-color: #ddd;
    color: black;
 }

 section img:hover{
   border-color: rgb(21, 21, 182);
 }

.parte1, .parte2, .parte3 { /* Estilizando cada parte do footer com 25% e background preto*/   
   width: 25%;
   background-color: #7682aa;
   color: #f2f2f2;
   padding-top: 20px;
}


.parte2 { /* Estilizando a parte 2 para ter um tamanho maior*/  
   width: 50%;
   margin: 0 1px;
}

